@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%; /* 100% de la altura de la ventana del navegador */
  width: 100%;
  margin: 0; /* Eliminar márgenes para evitar desbordamientos */
  padding: 0; /* Eliminar rellenos para evitar desbordamientos */
  background-image: linear-gradient(to bottom, #051937, #001a2a, #001718, #001107, #050701);
}